*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    font-weight: bold;
    padding: 50px;
    font-size: 4em;
    color: #fff !important;
    font-style: oblique;
}


.nav-item{
    padding-left: 10px;
    padding-top: 50px;
    font-size: 20px;
}

.nav-link{
    font-weight: bold;
    color: #fff !important;
    font-style: oblique;
    transform: translateY(-20%);
    border-radius: 20px;
}
.nav-link:hover{
    background-color: #9da2ec;
    transform: translateY(-20%);
    border-radius: 20px;
}

.remove{
    margin: 0;
    padding: 0;
}

.img-parent{
    position: relative;
}
.remove img{
    height: 100%;
    width: 100%;
}